<h1>All Orders</h1>


<div id="scroll_box"><div id="page"><% @shoo.each do |shoo| %>
<p>Name:</p>
<p><%= shoo.pretty_name %></p>
<p>Adress</p>
<p><%= shoo.address %></p>
<p>Order:</p>
<p><%= shoo.quantity %> x size <%= shoo.size %></p>
<hr>
<% end %></div></div>