<h1>Info about the Shoo</h1>

<p id="info">These Shoos are the cutting edge in looking like a real muppet. Horifically unconfortable and about as stylish as a a drunk tramp, these Shoos will make you look like the ultimate hipster. You will once again get to day the phrase "Have you not heard of them" with a sneer.</p>