<!DOCTYPE html>
<html>
<head>
  <title>Shoo</title>
  <link rel="icon" href="http://www.clipartsfree.net/vector/large/green_foot_print_Vector_Clipart.png">
  <link rel="stylesheet" type="text/css" href="/style_sheet.css">
</head>
<body>

 

    <div id="circle"></div>

    <div id="toe1"></div>
    <button id="button1" onclick="location.href='/info'"><span>Info</span></button>

    <div id="toe2"></div>
    <button id="button2" onclick="location.href='/shoo'"><span>Orders</span></button>

    <div id="toe3"></div>
    <button id="button3" onclick="location.href='/shoo/new'"><span>Buy</span></button>

    <div id="toe4"></div>
    <button id="button4" onclick="location.href='/how_its_made'"><span>How Its Made</span></button>

    <div id="toe5"></div>
    <button id="button5" onclick="location.href='/'"><span>Home</span></button>
       <%= yield %>

</body>
</html>