<h1>How the Shoo is Made</h1>

<p id="info">These Shoos are made from glutten free rubber and the hide of a free range honey badger, many badgers and Shoo makers were harmed in making this shoo. But for the small price you can saunter into your local poetry bar and look like the biggest fool as you spout your save mother Earth sh*t.</p>