<h1>The Path to Happieness</h1>

<form action="/shoo" method="post">
  
  <p><label for="first_name">First Name:</label>
  <input type="text" name="first_name"></p>
  
  <p><label for="second_name">Second Name</label>
  <input type="text" name="second_name"></p>

  <p><label for="address">Address:</label>
  <input type="text" name="address"></p>
  

  <p><label for="size">Shoe Size:</label>

  <select name="size">
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
  </select></p>

  <p><label for="quantity">How many would you like?</label>
  <input type="number" name="quantity"></p>

  <p><input type="submit" value="Buy Your Shoo(s)"></p>

</form>